.reply {
    margin-left: 11px;
    border-left: 2px solid #dee2e6;
    padding-left: 8px;
}

.bar {
    margin-left: -16px;
    margin-right: -16px;
}

.sticky-bottom {
    position: sticky;
    bottom: 0;
}
