{
    "version" : "2018-05-29",
    "operation" : "PutItem",
    "key": {
        "id": {
            "S": "$util.autoId()",
        },
        "datetime": {
            "S": "$util.time.nowEpochMilliSeconds()"
        }
    }
}
