{
    "version" : "2018-05-29",
    "operation" : "PutItem",
    "key": {
        "id": $util.dynamodb.toDynamoDBJson($util.autoId()),
    },
    "attributeValues": {
        "datetime": $util.dynamodb.toDynamoDBJson($util.time.nowEpochMilliSeconds())
        "status": $util.dynamodb.toDynamoDBJson("PENDING")
    }
}
