#if(!$util.isNull($context.arguments.username))
    #if($util.isNull($context.result.id))
        null
    #else
        $util.toJson({"userID": $context.result.id, "screenName": $context.result.screenName})
    #end
#else
    #if($util.isNull($context.result) || $context.result.scannedCount == 0)
        null
    #else
        #set($item = $context.result.items[0])
        $util.toJson({"userID": $item.id, "screenName": $item.screenName})
    #end
#end
