#set($message = { "type": "PLAYGROUND", "sessionID": $context.stash.sessionID, "lang": $context.arguments.lang, "code": $context.arguments.code, "stdin": $context.arguments.stdin, "userID": $context.identity.sub })
{
  "version": "2018-05-29",
  "method": "GET",
  "resourcePath": "/",
  "params": {
    "query": {
      "MessageBody": "$util.toJson($message)"
    }
  }
}
