#if($context.arguments.username != null)
{
	"version": "2018-05-29",
	"operation": "GetItem",
	"key": {
		"username": $util.dynamodb.toDynamoDBJson($context.arguments.username)
	}
}
#else
{
	"version": "2018-05-29",
	"operation": "Query",
	"query": {
		"expression": "#id = :userID",
		"expressionNames": {
			"#id": "id"
		},
		"expressionValues": {
			":userID": $util.dynamodb.toDynamoDBJson($context.arguments.userID)
		}
	},
	"index": "id-to-username-index",
	"limit": 1,
}
#end
