#if(!$util.isNull($context.arguments.username))
    #if($util.isNull($context.result.id))
        null
    #else
        $util.toJson({"userID": $context.result.id, "username": $context.arguments.username})
    #end
#else
    #if($context.result.scannedCount == 0)
        null
    #else
        $util.toJson({"userID": $context.arguments.id, "username": $context.result.items[0].username})
    #end
#end
