#set($size = $context.source.problems.size())
#set($index = $context.arguments.index)
#set($condition = $index < 1 || $size <= $index)
$util.validate($condition, "Index out of range.")
{
    "version" : "2018-05-29",
    "payload" : {
    }
}
