{
    "version" : "2018-05-29",
    "operation" : "Query",
    "query" : {
        "expression" : "#userID = :userID",
        "expressionNames" : {
            "#userID" : "userID"
        },
        "expressionValues" : {
            ":userID" : $util.dynamodb.toDynamoDBJson($context.source.userID)
        }
    },
    "nextToken": $util.toJson($util.defaultIfNullOrEmpty($context.arguments.nextToken, null)),
    "index" : "userID-index"
}
