#set($items = [])
#foreach($item in $context.result.items)
    $util.qr($items.add({"id": $item.id, "user": { "userID": $item.userID }, "datetime": $item.datetime, "status": $item.status, "title": $item.title, "likeCount": $item.likeCount, "statement": $item.statement, "testcaseNames": $context.result.testcaseNames, "submission": $item.submission, "submissions": $item.submissions}))
#end
{
    "items": $util.toJson($items),
    "nextToken": $util.toJson($util.defaultIfNullOrEmpty($context.result.nextToken, null))
}
