{
    "version" : "2018-05-29",
    "operation" : "Query",
    "query" : {
        "expression" : "#status = :status",
        "expressionNames" : {
            "#status" : "status"
        },
        "expressionValues" : {
            ":status" : $util.dynamodb.toDynamoDBJson("CREATED")
        }
    },
    "index" : "status-index",
    "scanIndexForward": false,
    "nextToken": $util.toJson($util.defaultIfNullOrEmpty($context.arguments.nextToken, null))
}
