#set($items = [])
#foreach($item in $context.result.items)
    $util.qr($items.add({"id": $item.id, "slug": $item.slug, "user": { "userID": $item.userID }, "datetime": $item.datetime, "status": $item.status, "title": $item.title, "likeCount": $item.likeCount, "commentCount": $item.commentCount, "statement": $item.statement, "testcaseNames": $context.result.testcaseNames, "submission": $item.submission, "submissions": $item.submissions}))
#end
$util.toJson($items)
