{
    "version" : "2018-05-29",
    "operation" : "Query",
    "query" : {
        "expression" : "#userID = :userID AND #slug = :slug",
        "expressionNames" : {
            "#userID" : "userID",
            "#slug": "slug"
        },
        "expressionValues" : {
            ":userID" : $util.dynamodb.toDynamoDBJson($context.identity.sub),
            ":slug" : $util.dynamodb.toDynamoDBJson($context.arguments.input.slug)
        }
    },
    "index" : "contest-slug-index",
}
