{
    "version" : "2018-05-29",
    "operation" : "PutItem",
    "key": {
        "problemID": $util.dynamodb.toDynamoDBJson($context.prev.result.id),
        "userID": $util.dynamodb.toDynamoDBJson($context.identity.sub)
    },
    "attributeValues": {
        "datetime": $util.dynamodb.toDynamoDBJson($context.prev.datetime),
        "status": $util.dynamodb.toDynamoDBJson("PENDING")
    }
}
