{
    "version" : "2018-05-29",
    "operation" : "PutItem",
    "key": {
        "problemID": {
            "S": $context.prev.result.id
        },
        "userID": {
            "S": $context.identity.sub
        },
        "datetime": {
            "N": $context.prev.datetime
        }
    },
    "attributeValues": {
        "status": {
            "S": "PENDING"
        }
    }
}
