{
    "version" : "2018-05-29",
    "operation" : "Query",
    "query" : {
        "expression" : "userID = :userID AND problemID = :problemID",
        "expressionValues" : {
            ":userID" : $util.dynamodb.toDynamoDBJson($context.source.userID),
            ":problemID" : $util.dynamodb.toDynamoDBJson($context.source.id)
        }
    },
    "nextToken": $util.toJson($util.defaultIfNullOrEmpty($context.arguments.nextToken, null)),
    "index" : "problemID-index"
}
