{
    "version" : "2018-05-29",
    "operation" : "PutItem",
    "key": {
        "id": $util.dynamodb.toDynamoDBJson($util.autoId()),
    },
    "attributeValues": {
        "userID": $util.dynamodb.toDynamoDBJson($context.identity.sub),
        "datetime": $util.dynamodb.toDynamoDBJson($util.time.nowISO8601()),
        "status": $util.dynamodb.toDynamoDBJson("PENDING"),
        "likes": $util.dynamodb.toDynamoDBJson(0),
        "commentCount": $util.dynamodb.toDynamoDBJson(0)
    }
}
