#if($util.isNull($context.identity) || $util.isNull($context.identity.sub))
$util.unauthorized()
#end
#if($context.arguments.input.code.length() == 0)
$util.error("Empty submissions are not allowed.")
#end
#set($supportedLanguages = %SUPPORTED_LANGUAGES%)
#if(!$supportedLanguages.contains($context.arguments.input.lang))
$util.error("This language is not supported. Please select another language.", "UnsupportedLanguage")
#end
$util.toJson(null)
