{
    "version" : "2018-05-29",
    "operation" : "Query",
    "query" : {
        "expression" : "#status = :status",
        "expressionNames" : {
            "#status" : "status"
        },
        "expressionValues" : {
            ":status" : $util.dynamodb.toDynamoDBJson("PUBLIC")
        }
    },
    "index" : "contest-status-index",
    "scanIndexForward": false
}
